[submodule "iot-device-background"]
	path = iot-device-background
	url = https://github.com/joshpg190498/iot-device-background
[submodule "iot-server-background"]
	path = iot-server-background
	url = https://github.com/joshpg190498/iot-server-background
[submodule "iot-server-infra"]
	path = iot-server-infra
	url = https://github.com/joshpg190498/iot-server-infra
[submodule "iot-server-web-app"]
	path = iot-server-web-app
	url = https://github.com/joshpg190498/iot-server-web-app
